HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### oauth 정보 ###
application-oauth.properties

### application ###
application.yml
application-prod.yml
application-dev.yml
application-local.yml

### logback yml ###
logback-spring.xml
logback-spring-local.xml

### firebase 키 ###
speak-world-firebase-adminsdk-keggh-346661a91e.json