HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### oauth 정보 ###
application-oauth.properties

### application ###
application.yml
### 예전꺼 ###
speak-world-firebase-adminsdk-keggh-6022505276.json
speak-world-firebase-adminsdk-keggh-5e2cf6bb13.json
### 최신 ###
speak-world-firebase-adminsdk-keggh-346661a91e.json